body {
    margin: 0;

    font-family: Arial, sans-serif;
    background-color: #F4AC23; 
    color: #191009; 
}

header {
    background-color: #F4AC23;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #191009;
    font-size: 22px;
    font-weight: bold;
}

nav ul li a.current {
    background-color: #C32126; 
    border-radius: 20px;
    color: #191009;  
}
nav ul li a:hover {
    background-color: #C32126; 
    border-radius: 20px;
}

.content-wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px; 
    }

.content-wrapper img {
    max-width: 40%; 
    height: auto;
    margin-right: 20px; 
    border-radius: 15px; 
}

.text {
    font-size: 20px;
    font-weight: bolder;
    color: #191009;
    max-width: 50%; 
}
main {
    text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #C32126;
    text-align: center; 
}

main img {
    border: 15px solid #C32126; 
    border-radius: 10px;
    padding: 5px; 
    margin: 20px;
    background-color: white; 
    box-shadow:100px #191009;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    background-color: #C32126;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #C32126;  
}

h2 {
    font-size: 30px;
    color: #C32126;
    margin-top: 40px;
    margin-left: 30px;
}
iframe {
    margin-left: 30px;
    margin-top: 10px;
}

p {
    font-size: 24px;
    font-weight: bolder;
    margin: 10px;
    margin-left: 30px;
}

aside {
    font-size: 25px;
    font-weight: bolder;
}

footer {
    font-size: 10px;
    color: #191009;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
}
